Source: brainfuuuck-bot
Section: web
Priority: optional
Maintainer: Ivan Odinets <i_odinets@protonmail.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (=13), qtbase5-dev, qtbase5-dev-tools, qt5-qmake
Standards-Version: 4.6.1
Homepage: <https://github.com/ivan-odinets/BrainfuuuckBot>

Package: brainfuuuck-bot
Architecture: any
Depends:
 systemd, adduser, libqt5core5a, libqt5network5, ${shlibs:Depends}, ${misc:Depends},
Description: Telegram Bot which can interpret brainfuck code
